#wages .border{
    border-top: 1px solid black!important;
    border-left: 1px solid black!important;
}

#wages .title{
    font-size: 8px;
    margin:0;
    border-bottom: 1px solid black!important;
    width: 100%;
}

#wages .title_bold{
    font-weight:900;
}

#wages .subtitle{
    font-size: 12px;
    margin:3px 3px;
}

[contenteditable]:focus {
    outline: 1px solid transparent;
  }

